#btn{
	color: white;
	background-color: green;
	padding: 10px 20px;
}
#post{
	margin-left: 70px;
}
#txt1{
	margin-left: 70px;
	background-color:#e6e6e6;
	height: 30px;
	width: 500px;
}
#txt2{
	margin-left: 70px;
	background-color:#e6e6e6;
}

